@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @*<li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>*@
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
            @User.Identity.GetUserName()<span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            <li><a href="@Url.Action("Attending","Courses")">Course I'm Going'</a></li>
            <li><a href="@Url.Action("Mine","Courses")">My Upcomming Course.</a></li>
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </li>
    
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
