<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
﻿@model BigSchool.ViewModels.CourseViewModel
@*@model IEnumerable<BigSchool.Models.Course>*@
=======
﻿@model IEnumerable<BigSchool.Models.Course>
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
﻿@model IEnumerable<BigSchool.Models.Course>
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
﻿@model IEnumerable<BigSchool.Models.Course>
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
=======
    <ul class="courses">
        @foreach (var courses in Model)
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
    <ul class="courses">
        @foreach (var courses in Model)
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
    <ul class="courses">
        @foreach (var courses in Model)
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
        {
            <li>
                <div class="date">
                    <div class="moth">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
=======
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
                        @courses.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @courses.DateTime.ToString("dd")
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                        }
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {
                        <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attandance">Going?</button>
                    }
=======
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
                        @courses.Lecturer.Name
                    </span>
                    <span class="category">
                        @courses.Category.Name
                    </span>
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
                </div>
            </li>

        }
    </ul>
</div>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@Session script
    {
<script>
    $(document).ready(function () {
        $(".js-toggle-attandance").click(function (e) {
            var button = $(e.target);
            $post("/api/attendance", { courseId: button.attr("data-course-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                })
                .fail(function () {
                    alert("Something failed!");

                });
        });
        $(".js-toggle-follow").click(function (e) {
            var button = $(e.target);
            $post("/api/followings", { courseId: button.attr("data-user-id") })
                .done(function () {
                    button.text("Following");
                })
                .fail(function () {
                    alert("Something failed!");

                });
        });
    });
</script>



@*Development
    Business
    Marketing*@

=======
Development
Business
Marketing

=======
Development
Business
Marketing

>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
Development
Business
Marketing

>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
<<<<<<< HEAD
<<<<<<< HEAD
    </div>*@
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
    </div>*@
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
=======
    </div>*@
>>>>>>> 5ab4a5e12a3212340facf04d930f3a1621409ff2
