@model BigSchool.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
          {
            <li>
                <div class="date">
                    <div class="moth">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                        @courses.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @courses.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                        }
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {
                        <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attandance">Going?</button>
                    }
                        @courses.Lecturer.Name
                    </span>
                    <span class="category">
                        @courses.Category.Name
                    </span>
                </div>
            </li>

        }
    </ul>
</div>
@Session script
    {
<script>
    $(document).ready(function () {
        $(".js-toggle-attandance").click(function (e) {
            var button = $(e.target);
            $post("/api/attendance", { courseId: button.attr("data-course-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                })
                .fail(function () {
                    alert("Something failed!");

                });
        });
        $(".js-toggle-follow").click(function (e) {
            var button = $(e.target);
            $post("/api/followings", { courseId: button.attr("data-user-id") })
                .done(function () {
                    button.text("Following");
                })
                .fail(function () {
                    alert("Something failed!");

                });
        });
    });
</script>

